---
import '../styles/Hero.css';
---


<section id="hero">
  <div class="hero-content">
    <h1>Chaque camion commence par vos idées</h1>
    <div class="hero-buttons">
      <a href="#contact" class="secondary-button">Contactez-nous</a>
    </div>
  </div>
</section> 