---
import '../styles/Contact.css';
---
<section id="our_story" class="section">
  <div class="container">
    <h2 class="section-title">Notre histoire</h2>
    <h3>Dutsch Style Company est une entreprise fondée par deux frères, Dirk et Harm, unis par une passion commune pour les camions</h3>
    <p>Dirk dirigeait sa propre entreprise de transport, Dirk Van Dinteren Transport, tandis que Harm, un tôlier expérimenté et concepteur 3D professionnel, excellait dans la conception et la production. Animés par la volonté de combiner leurs talents uniques et leur passion, ils ont décidé de fonder ensemble Dutch Style Company. Leur objectif : créer une entreprise qui propose non seulement des produits innovants, mais qui comprend et répond également aux besoins des marchés néerlandais et français.</p>
    <p>Emeline, responsable du développement du marché français, joue un rôle crucial dans ce projet. Elle se consacre pleinement à ses clients, supervise la stratégie markéting et veille à ce que Dutch Style Company se positionne avec succès en France. Ensemble, ils forment une équipe dynamique visant l'excellence et des solutions centrées sur le client dans un contexte international. </p>  
  </div>
</section> 