---
import '../styles/Contact.css';
---
<section id="trucks" class="section">
  <div class="container">
    <h2 class="section-title">Nos camions</h2>
    <h3>Nous aidons les entreprises de transport à renforcer leur image et à offrir un confort inégalé à leurs chauffeurs</h3>
  </div>
</section> 