---
import Contact from './Contact.astro';
import Footer from './Footer.astro';
import NavBar from './NavBar.astro';
import Hero from './Hero.astro';
import Story from './Story.astro';
import Benefits from './Benefits.astro';
import Testimonials from './Testimonials.astro';
---
<div id="container">
	<NavBar />
	<main>
		<Hero />
		<Testimonials />
		<Benefits />
		<Story />
		<Contact />
	</main>
	<Footer />
</div>

