---
import background from '../assets/background.svg';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
import NavBar from './NavBar.astro';
import Hero from './Hero.astro';
---
<div id="container">
	<NavBar />
	<main>
		<Hero />
		<Contact />
	</main>
	<Footer />
</div>

